# 1. 分析输入数据的基本情况
- 数据类型：定类/定序/等差/等比，数值/非数值
- 数值的取值范围和分布
- 缺失值

In [1]:
train_csv = './data/train.csv'
test_csv = './data/test.csv'

In [2]:
import pandas as pd

df = pd.read_csv(train_csv)
test_df = pd.read_csv(test_csv)

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
mod_df = df.mode().iloc[0]

In [7]:
# 查看存在nan值的列
for column in df.columns:
    c = len(df[df[column].isna()])
    print(f'{column}:{c}')

PassengerId:0
Survived:0
Pclass:0
Name:0
Sex:0
Age:177
SibSp:0
Parch:0
Ticket:0
Fare:0
Cabin:687
Embarked:2

In [8]:
df['Survived'].sum()

342

# 2.获取基线
- 根据类别占比计算基线1
- 简单特征工程和模型计算基线2

## （1）baseline1
- 使用数量多的类别作为预测结果

In [9]:
baseline1 = (len(df) - df['Survived'].sum()) / len(df)
print(baseline1)

0.6161616161616161

## （2）baseline2
- 简单的特征工程+模型获取基线

### 数据预处理
- 填充缺失值

In [10]:
df = df.fillna(mod_df)

### 特征工程
- Pclass: 转为one-hot
- Name: 字符串类型，先不使用该特征
- sex: 0-1
- Age: 浮点数，使用众数填充na
- SibSp: 浮点数
- Parch: 浮点数
- Ticket: 先不用
- Fare: 浮点数
- Cabin: 字符串类型，缺失值多，先不用
- Embarked: 转为one-hot，使用众数填充na

In [12]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

onehot_columns = ['Sex', 'Pclass', 'Embarked']
value_columns = ['Age', 'SibSp', 'Parch', 'Fare']

enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(df[onehot_columns])

enc_names = enc.get_feature_names_out(onehot_columns).tolist()
fea_names = enc_names + value_columns

def baseline_fea(df):
    ori_onehot_fea = df[onehot_columns].values
    value_fea = df[value_columns].values
    
    onehot_fea = enc.transform(ori_onehot_fea).toarray()
    
    fea = np.concatenate([onehot_fea, value_fea], axis=1)
    
    return fea
    
    
fea = baseline_fea(df)
lab = df.Survived.values

/Users/zhushuguang/Software/miniconda3/envs/python38/lib/python3.8/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

### 模型训练
- 选择xgb二分类

In [18]:
import xgboost as xgb
from sklearn.metrics import accuracy_score
import random


index = list(range(len(fea)))
random.shuffle(index)
train_ratio = 0.8
train_fea = fea[index[:int(len(fea) * 0.8)]]
val_fea = fea[index[int(len(fea) * 0.8):]]
train_lab = lab[index[:int(len(fea) * 0.8)]]
val_lab = lab[index[int(len(fea) * 0.8):]]

train_data = xgb.DMatrix(train_fea, label=train_lab)
val_data = xgb.DMatrix(val_fea, label=val_lab)

param = {'max_depth': 4, 'eta': 0.3, 'objective': 'binary:logistic'}
num_round = 100

In [19]:
bst = xgb.train(param, train_data, num_round)

[18:15:00] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [22]:
val_prob = bst.predict(val_data)

In [29]:
thres = 0.5
val_predict = np.array([1 if p >= thres else 0 for p in val_prob])
acc = (val_predict == val_lab).sum() / len(val_lab)
print(acc)

0.7932960893854749

In [30]:
# 测试集结果
test_df = test_df.fillna(mod_df)
test_fea = baseline_fea(test_df)
test_fea = xgb.DMatrix(test_fea)
test_prob = bst.predict(test_fea)

test_predict = np.array([1 if p >= thres else 0 for p in test_prob])

/Users/zhushuguang/Software/miniconda3/envs/python38/lib/python3.8/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [31]:
print(test_prob)

[0.04476339 0.01853532 0.06581522 0.38680032 0.10607986 0.09970482
 0.07255739 0.0109132  0.9338133  0.01177681 0.00629928 0.0725457
 0.98062193 0.05485411 0.95392275 0.9830035  0.04331405 0.45074102
 0.28768307 0.03187041 0.6214421  0.23131998 0.99838674 0.7515552
 0.9454073  0.04076429 0.9993747  0.61610794 0.7648462  0.5231955
 0.10891473 0.07808999 0.45231205 0.06838726 0.68820184 0.43530428
 0.09994216 0.03069982 0.1185584  0.39398468 0.17289448 0.36277404
 0.07909153 0.99200636 0.9826318  0.12935536 0.18154132 0.09578732
 0.9950008  0.72429353 0.41884598 0.1498711  0.9285936  0.64128274
 0.59156066 0.00488378 0.0157155  0.05147028 0.03061658 0.9983999
 0.02239395 0.34457585 0.03240509 0.90008444 0.58912075 0.9786189
 0.8918072  0.03085805 0.10522142 0.9029872  0.8589683  0.00609802
 0.43026605 0.07225567 0.99619675 0.54614496 0.02635033 0.9131548
 0.17348208 0.8589683  0.97507715 0.0561929  0.2573558  0.00629928
 0.12815185 0.07408544 0.8596726  0.71930903 0.8589683  0.94225883
 0.09960206 0.02284149 0.7938513  0.02635033 0.7389362  0.1607865
 0.98832333 0.42064983 0.4801957  0.0912447  0.98397875 0.03248475
 0.09578732 0.1545366  0.56671554 0.02806566 0.27030593 0.09578732
 0.02014628 0.13124174 0.03613794 0.75488037 0.9996176  0.8004746
 0.9615564  0.03780819 0.06387503 0.77417165 0.7877959  0.7975614
 0.9877302  0.04848289 0.99980956 0.02928099 0.09578732 0.69530493
 0.13200472 0.9704094  0.2556513  0.02635033 0.29824662 0.04423563
 0.12058685 0.03665593 0.03510094 0.04454798 0.59710914 0.2336592
 0.06013843 0.00683183 0.00541063 0.99770445 0.07468302 0.02356399
 0.7417901  0.077222   0.05439225 0.03783837 0.36277404 0.00999459
 0.9992453  0.09116729 0.12100999 0.3265205  0.01246566 0.01328842
 0.97692823 0.4153482  0.7417901  0.45533136 0.9000079  0.94869864
 0.9829911  0.04055703 0.18655936 0.12861544 0.15712887 0.01472012
 0.99536103 0.06481388 0.01328842 0.59710914 0.01318933 0.11374549
 0.03509101 0.9962709  0.9968141  0.32008052 0.99633634 0.9897748
 0.17348208 0.6322932  0.9889531  0.09578732 0.9064462  0.12877215
 0.9717163  0.29324183 0.03900762 0.18655936 0.08848218 0.10424832
 0.35874107 0.0565585  0.9314527  0.05334888 0.95545745 0.220968
 0.02324005 0.05878223 0.93441427 0.9375212  0.14519688 0.6328699
 0.07643552 0.47797367 0.0992482  0.0558269  0.9873695  0.01036799
 0.30765566 0.014391   0.04691346 0.81495965 0.04541855 0.16113861
 0.8602062  0.09210183 0.9701039  0.02635033 0.93241215 0.03783837
 0.9643703  0.13200472 0.96652335 0.9063781  0.0951686  0.8589683
 0.06529488 0.1346399  0.11354581 0.99593496 0.00657277 0.08751785
 0.6643322  0.0620989  0.2723886  0.45074102 0.9444124  0.9900439
 0.9047557  0.97969145 0.20269643 0.00629928 0.02672257 0.120027
 0.954275   0.04850208 0.7975614  0.22177792 0.8929757  0.0832
 0.12259942 0.06957065 0.14254908 0.01328842 0.09578732 0.04545515
 0.99448097 0.01336156 0.03152715 0.04798641 0.9781908  0.6875348
 0.3804312  0.00629928 0.06532385 0.01328842 0.09994216 0.08399964
 0.13486315 0.09578732 0.9274833  0.91129696 0.09260847 0.84571934
 0.07303016 0.03445718 0.01088567 0.02722353 0.03784215 0.96703726
 0.8589683  0.29225394 0.4941696  0.0034402  0.01178423 0.08011506
 0.11374549 0.02635033 0.02926172 0.02695604 0.11374549 0.06542388
 0.14254908 0.03998578 0.93452805 0.5231955  0.03087742 0.20974083
 0.07905795 0.08913492 0.02761451 0.02014628 0.8589683  0.9743386
 0.02913311 0.9660869  0.08868627 0.01455079 0.11052482 0.6988464
 0.01328842 0.05199395 0.9868199  0.8550593  0.11181001 0.17547657
 0.6122432  0.0367716  0.1545366  0.29427883 0.2336592  0.8408388
 0.9947189  0.02724072 0.95218813 0.08691052 0.0231895  0.04282051
 0.99718046 0.32672408 0.09260847 0.97417045 0.17673412 0.14041644
 0.36485076 0.00436363 0.20408984 0.11374549 0.14698862 0.02608391
 0.032711   0.98131794 0.02366873 0.88803214 0.2336592  0.07522388
 0.11128925 0.9866388  0.9924987  0.07643552 0.03577907 0.0598789
 0.45872426 0.21168494 0.99110025 0.02898075 0.09578732 0.24734585
 0.0082393  0.9951272  0.9866388  0.38680032 0.99505436 0.08362242
 0.07408544 0.05318912 0.99801046 0.5950616  0.00885805 0.9988244
 0.03656327 0.24479759 0.9760677  0.9803935  0.02951251 0.02470906
 0.01635587 0.16302308 0.09578732 0.1981029  0.19372739 0.35181174
 0.11128925 0.98046136 0.02284149 0.10091009 0.06456667 0.10488078
 0.14626394 0.98923874 0.23526555 0.16903588 0.0163425  0.99544865
 0.0101708  0.9981584  0.04270753 0.0296237  0.97962254 0.03768677
 0.9998     0.02481624 0.0263602  0.50265926 0.00832338 0.19873352
 0.77348506 0.9062538  0.8589683  0.99910104 0.12874816 0.02635033
 0.9981698  0.00698632 0.02635033 0.6758914 ]